{% extends './base.html' %}

{% block title %}Create new code | {% endblock %}

{% block contents %}
{% if illegal %}
<div class="alert alert-danger" style="text-shadow: none;" role="alert">
    Cannot create new code. You have illegal syntax!
</div>
{% endif %}
<form method="POST" class="h-100 w-100" enctype="multipart/form-data">
    <p>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-code-slash" viewBox="0 0 16 16"><path d="M10.478 1.647a.5.5 0 1 0-.956-.294l-4 13a.5.5 0 0 0 .956.294l4-13zM4.854 4.146a.5.5 0 0 1 0 .708L1.707 8l3.147 3.146a.5.5 0 0 1-.708.708l-3.5-3.5a.5.5 0 0 1 0-.708l3.5-3.5a.5.5 0 0 1 .708 0zm6.292 0a.5.5 0 0 0 0 .708L14.293 8l-3.147 3.146a.5.5 0 0 0 .708.708l3.5-3.5a.5.5 0 0 0 0-.708l-3.5-3.5a.5.5 0 0 0-.708 0z"/></svg>
        Enter your source code
    </p>
    <div id="editor" class="w-100 h-50"></div>
    <textarea id="editor-data" name="code" hidden></textarea>
    <button class="float-right btn btn-lg btn-success mt-2" style="font-family:'VT323',monospace;font-size:24px;font-weight:200;"><strong>execute</strong></button>
</form>
{% endblock %}

{% block customjs %}
<script>
    var editor = ace.edit("editor");
    editor.setOptions({
        fontSize: 18,
        newLineMode: 'unix',
        theme: 'ace/theme/monokai',
        mode: 'ace/mode/sh'
    });
    editor.session.on('change', function(delta) {
        document.getElementById('editor-data').innerHTML = editor.getValue();
    });
</script>
{% endblock %}