<div id="receipt" class="justify-content-center" style="display: none;">
  <div class="w-50 mx-auto">
    <h3 class="my-5 text-center">Donation Receipt</h3>
    <div id="notif">
    </div>
    <div class="my-3 p-3 bg-body rounded shadow-sm">
        <div id="item-panel">
        </div>
      <div class="pt-3">
        <div class="pb-3 mb-0 small lh-sm w-100">
          <h6 class="h6 my-0 text-end" style="font-weight: normal !important;">
            <strong class="me-3">Total price:</strong>
            <span id="total-price">Rp0</span>
          </h6>
        </div>
      </div>  
    </div>
    <div class="d-block text-end mt-3">
      <button id="btn-receipt" type="button" class="btn btn-danger">Back</button>
    </div>
  </div>
</div>